.teacherPanel_main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.teacherPanel_name_text {
  margin-top: 1.25rem;
  color: #e6e0e9;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.teacherPanel_course_container {
  margin-top: 0.62rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 20rem;
}
.sem_card_container {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2.5rem;
}
.sem_card {
  border-radius: 1.875rem;
  width: 20rem;
  background-color: #d0bcff;
  padding: 1.62rem 1.8rem;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/note_stack.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  position: relative;
}
.sem_text {
  color: #141218;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1rem;
}
.sem_number {
  color: #141218;
  font-size: 3rem;
  font-weight: 600;
}
.role_text {
  position: absolute;
  bottom: 0.5rem;
  left: 2rem;
  color: #5b5a5d;
  font-size: 1.2rem;
  font-weight: 400;
}
.arrow_image {
  position: absolute;
  bottom: 1.2rem;
  right: 1.5rem;
  width: 2.8rem;
  height: 2.8rem;
}
