.semesterPage_main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.semesterPage_header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 5%;
}
.administrator {
  margin-left: 1.56rem;
  width: 160px;
  height: 40px;
}
.noSem_container {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.semester_icon {
  width: 13rem;
  height: 13rem;
}
.noSem_text {
  color: #938f99;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01563rem;
}
