.back_btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: transparent;
    border: none;
    padding: 0.5rem 1rem 0.5rem 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    color: #938f99;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .back_btn:hover {
    background: rgba(103, 80, 164, 0.08);
  }